/*General*/
/*controls the max-width allocated to media queries*/
/*adjusts the height of the header and the padding-top inside the header-bar so it clears the fixed nav bar*/
/*Color Palette*/
/*black*/
/*medium blue*/
/*light grey*/
/*grey green-blue*/
/*semi-transparent grey*/
/*measurements*/
body {
  padding-top: 50px;
  background-color: transparent; }

.navbar {
  border-top: 5px solid #087ca7; }

.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px; }

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px; }

.navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out; }

.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg); }

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg); }

footer {
  background: #586f7c;
  padding: 10px 0px;
  color: #999;
  text-align: center; }
  footer p {
    padding-top: 5px; }
  footer .credit a {
    text-decoration: none;
    color: #999; }

.full {
  background: url("img/superpit.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.header {
  padding: 15vh 20px;
  text-align: center;
  margin-right: 0; }
  @media screen and (max-width: 769px) {
    .header {
      padding: 0; } }
  .header .header-box {
    background: rgba(51, 51, 51, 0.5);
    padding: 60px;
    width: 100%;
    max-width: 710px; }
    @media screen and (max-width: 769px) {
      .header .header-box {
        padding: 100px 15px; } }
    .header .header-box h1 {
      color: white;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      text-align: left; }
    .header .header-box h3 {
      color: white;
      padding: 0;
      padding-bottom: 20px;
      margin: 0;
      text-align: left; }
    .header .header-box p {
      color: white;
      text-align: left; }
    .header .header-box button {
      background: #499bea;
      background: -moz-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #499bea), color-stop(6%, #087ca7), color-stop(100%, #087ca7));
      background: -webkit-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: -o-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: -ms-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: linear-gradient(to bottom, #499bea 0%, #087ca7 6%, #087ca7 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#087ca7', GradientType=0 );
      border: none;
      padding: 20px 30px;
      border-radius: 15px;
      margin-top: 40px; }
      .header .header-box button h3 {
        padding: 0;
        margin: 0;
        text-transform: uppercase; }

/* centered columns styles */
.row-centered {
  text-align: center; }
  .row-centered .col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px; }

.services {
  background: #087ca7;
  background-position: center;
  padding: 80px 20px; }
  .services .title {
    color: white;
    text-transform: uppercase; }
  .services .skill {
    padding: 40px 20px;
    color: white; }
    .services .skill img {
      width: 120px; }

.applications {
  background: #f4f4f9; }
  .applications .slider {
    padding: 0; }
  .applications .applications-text {
    padding: 100px 10px;
    text-align: center; }
    .applications .applications-text h1 {
      text-transform: uppercase;
      padding: 20px 0px; }

.contact {
  background: rgba(51, 51, 51, 0.5);
  padding: 100px 0px; }
  .contact .contact-img {
    color: white; }
    .contact .contact-img img {
      margin-bottom: 10px; }
  .contact .contact-text {
    text-align: left;
    color: white;
    padding: 0px 10px; }
    .contact .contact-text h1 {
      margin-top: 0px;
      margin-bottom: 20px; }
    .contact .contact-text a {
      text-decoration: none;
      color: white; }
      .contact .contact-text a button {
        background: #499bea;
        background: -moz-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #499bea), color-stop(6%, #087ca7), color-stop(100%, #087ca7));
        background: -webkit-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
        background: -o-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
        background: -ms-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
        background: linear-gradient(to bottom, #499bea 0%, #087ca7 6%, #087ca7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#087ca7', GradientType=0 );
        border: none;
        padding: 20px 30px;
        border-radius: 15px;
        margin-top: 40px; }
        .contact .contact-text a button h3 {
          padding: 0;
          margin: 0;
          text-transform: uppercase; }
    @media screen and (max-width: 991px) {
      .contact .contact-text {
        text-align: center;
        padding: 50px; } }

.info-cont {
  background: #f4f4f9; }
  .info-cont .info-header {
    height: 200px; }
    @media screen and (min-width: 769px) {
      .info-cont .info-header {
        height: 350px; } }
  .info-cont .info-text {
    margin: 0;
    padding: 50px 0px; }

.info-cont .info-header-about {
  background: url("img/truck.jpg");
  background-size: cover;
  background-position: center; }

.info-cont {
  background: #f4f4f9; }
  .info-cont .info-header {
    height: 200px; }
    @media screen and (min-width: 769px) {
      .info-cont .info-header {
        height: 350px; } }
  .info-cont .info-text {
    margin: 0;
    padding: 50px 0px; }

.info-cont .info-header-sim {
  background: url("img/ContinuousMiner.jpg");
  background-size: cover;
  background-position: center; }
.info-cont .info-text-sim .simcon {
  margin: 20px 0px; }
  .info-cont .info-text-sim .simcon img {
    width: 100%; }

.info-cont {
  background: #f4f4f9; }
  .info-cont .info-header {
    height: 200px; }
    @media screen and (min-width: 769px) {
      .info-cont .info-header {
        height: 350px; } }
  .info-cont .info-text {
    margin: 0;
    padding: 50px 0px; }

.info-cont .info-header-pub {
  background: url("img/ContinuousMiner.jpg");
  background-size: cover;
  background-position: center; }

.contact-row {
  padding-top: 50px;
  min-height: 100vh; }
  .contact-row .contact-title {
    text-align: center; }
    @media screen and (min-width: 991px) {
      .contact-row .contact-title {
        text-align: left; } }
  .contact-row .contact-img {
    margin-top: 50px; }
  .contact-row .contact-text {
    margin-top: 50px;
    text-align: center; }
    .contact-row .contact-text h1 {
      margin-top: 0; }
    .contact-row .contact-text .icons .contact-email {
      padding-top: 15px; }
      .contact-row .contact-text .icons .contact-email img {
        width: 30px;
        float: left; }
      .contact-row .contact-text .icons .contact-email a {
        float: left;
        padding-left: 20px; }
    .contact-row .contact-text .icons .contact-phone {
      padding-top: 15px; }
      .contact-row .contact-text .icons .contact-phone img {
        width: 30px;
        float: left; }
      .contact-row .contact-text .icons .contact-phone a {
        float: left;
        padding-left: 20px; }
    @media screen and (min-width: 991px) {
      .contact-row .contact-text {
        text-align: left; } }

/*# sourceMappingURL=main.css.map */
