/*General*/
/*controls the max-width allocated to media queries*/
/*adjusts the height of the header and the padding-top inside the header-bar so it clears the fixed nav bar*/
/*Color Palette*/
/*black*/
/*medium blue*/
/*light grey*/
/*grey green-blue*/
/*semi-transparent grey*/
/*measurements*/
body {
  padding-top: 50px;
  background-color: transparent; }

.wrapper {
  width: 100%; }

.navbar {
  border-top: 5px solid #087ca7;
  background-color: black; }
  .navbar .nav-links .nav-logo {
    width: 80px;
    display: inline-block;
    float: right;
    padding: 5px;
    margin-right: 10px; }
    @media screen and (max-width: 810px) {
      .navbar .nav-links .nav-logo {
        display: none; } }
    .navbar .nav-links .nav-logo img {
      width: 100%; }

.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px; }

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px; }

.navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out; }

.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg); }

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg); }

.footer {
  background: #586f7c;
  padding: 10px 0px;
  color: #999;
  text-align: center; }
  .footer p {
    padding-top: 5px; }
  .footer .credit a {
    text-decoration: none;
    color: #999; }

/* centered columns styles */
.row-centered {
  text-align: center; }
  .row-centered .col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px; }

.full {
  background: url("img/superpit.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.header {
  padding: 0px;
  min-height: 100vh;
  padding: 15vh 20px; }
  @media screen and (max-width: 769px) {
    .header {
      padding: 0; } }
  .header .header-box {
    background: rgba(51, 51, 51, 0.7);
    padding: 60px;
    width: 100%;
    max-width: 710px;
    text-align: center;
    margin: 0 auto; }
    @media screen and (max-width: 769px) {
      .header .header-box {
        padding: 100px 25px;
        min-height: 100vh; } }
    .header .header-box h1 {
      color: white;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      margin-bottom: 30px;
      text-align: center; }
    .header .header-box h3 {
      color: white;
      padding: 0;
      padding-bottom: 20px;
      margin: 0;
      text-align: center; }
    .header .header-box p {
      color: white;
      text-align: center; }
    .header .header-box .button-cont {
      display: inline-block;
      margin: 0 auto;
      margin-top: 40px;
      background: #499bea;
      background: -moz-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #499bea), color-stop(6%, #087ca7), color-stop(100%, #087ca7));
      background: -webkit-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: -o-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: -ms-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: linear-gradient(to bottom, #499bea 0%, #087ca7 6%, #087ca7 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#087ca7', GradientType=0 );
      border: none;
      padding: 20px 30px;
      border-radius: 15px;
      width: 200px; }
      .header .header-box .button-cont a {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 25px; }

.services {
  background: #087ca7;
  text-align: center;
  color: white;
  padding: 80px 10px; }
  .services .title {
    text-transform: uppercase; }
    .services .title h1 a {
      text-decoration: none;
      color: white; }
  .services .skill {
    padding: 40px 20px; }
    .services .skill h3 a {
      text-decoration: none;
      color: white; }

.applications {
  background: #f4f4f9; }
  .applications .slider {
    padding: 0; }
  .applications .applications-text {
    padding: 100px 10px;
    text-align: center; }
    .applications .applications-text h1 {
      text-transform: uppercase;
      padding: 20px 0px; }

.contact {
  background: rgba(51, 51, 51, 0.7);
  padding: 100px 0px; }
  .contact .contact-text {
    text-align: center;
    color: white;
    padding: 0px 10px; }
    .contact .contact-text h1 {
      margin-top: 0px;
      margin-bottom: 20px; }
    .contact .contact-text .button-cont {
      background: #499bea;
      background: -moz-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #499bea), color-stop(6%, #087ca7), color-stop(100%, #087ca7));
      background: -webkit-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: -o-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: -ms-linear-gradient(top, #499bea 0%, #087ca7 6%, #087ca7 100%);
      background: linear-gradient(to bottom, #499bea 0%, #087ca7 6%, #087ca7 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#087ca7', GradientType=0 );
      border: none;
      padding: 20px 30px;
      border-radius: 15px;
      width: 200px;
      margin-top: 30px; }
      .contact .contact-text .button-cont a {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 25px; }
    @media screen and (max-width: 991px) {
      .contact .contact-text {
        padding: 50px; } }

.info-cont {
  background: #f4f4f9; }
  .info-cont .info-header {
    height: 200px; }
    @media screen and (min-width: 769px) {
      .info-cont .info-header {
        height: 350px; } }
  .info-cont .info-text {
    margin: 0;
    padding: 50px 10px; }

.info-cont .info-header-about {
  background: url("img/truck.jpg");
  background-size: cover;
  background-position: center; }

.info-cont {
  background: #f4f4f9; }
  .info-cont .info-header {
    height: 200px; }
    @media screen and (min-width: 769px) {
      .info-cont .info-header {
        height: 350px; } }
  .info-cont .info-text {
    margin: 0;
    padding: 50px 10px; }

.info-header-sim {
  background: url("img/ContinuousMiner.jpg");
  background-size: cover;
  background-position: center; }

.ben {
  background-color: #087ca7;
  color: white;
  position: relative;
  top: 50%;
  right: 0; }

.info-cont {
  background: #f4f4f9; }
  .info-cont .info-header {
    height: 200px; }
    @media screen and (min-width: 769px) {
      .info-cont .info-header {
        height: 350px; } }
  .info-cont .info-text {
    margin: 0;
    padding: 50px 10px; }

.info-cont .info-header-pub {
  background: url("img/ContinuousMiner01.jpg");
  background-size: cover;
  background-position: center; }

.contact-wrap {
  background: #f4f4f9; }
  .contact-wrap .contact-cont {
    padding-top: 70px;
    min-height: 100vh; }
    @media (min-width: 991px) {
      .contact-wrap .contact-cont .profile {
        padding-left: 100px; } }
    .contact-wrap .contact-cont .profile h1 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
      padding-left: 15px; }
    .contact-wrap .contact-cont .profile p {
      text-align: center; }
    .contact-wrap .contact-cont .details {
      padding-top: 30px;
      padding-bottom: 50px; }
      @media (min-width: 991px) {
        .contact-wrap .contact-cont .details {
          padding-top: 85px; } }
      .contact-wrap .contact-cont .details p {
        text-align: center; }
        @media (min-width: 991px) {
          .contact-wrap .contact-cont .details p {
            text-align: left; } }
      .contact-wrap .contact-cont .details .icons {
        padding-top: 30px; }
        .contact-wrap .contact-cont .details .icons .email {
          text-align: center; }
          @media (min-width: 991px) {
            .contact-wrap .contact-cont .details .icons .email {
              text-align: left; } }
          .contact-wrap .contact-cont .details .icons .email img {
            width: 30px;
            display: inline-block; }
          .contact-wrap .contact-cont .details .icons .email p {
            display: inline-block; }
      .contact-wrap .contact-cont .details .phone {
        text-align: center; }
        @media (min-width: 991px) {
          .contact-wrap .contact-cont .details .phone {
            text-align: left; } }
        .contact-wrap .contact-cont .details .phone img {
          width: 30px;
          display: inline-block; }
        .contact-wrap .contact-cont .details .phone p {
          display: inline-block; }

.services-container {
  padding-bottom: 100px; }
  .services-container .services-intro {
    padding-top: 50px;
    padding-bottom: 50px; }
  .services-container .service {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: #DBDBDB 1px solid; }
    .services-container .service .img-box {
      margin: 30px 0px;
      text-align: center; }
      .services-container .service .img-box img {
        width: 100%; }
      .services-container .service .img-box p {
        padding: 15px 0px; }
      .services-container .service .img-box .long-img {
        max-height: 330px;
        width: initial; }
        @media screen and (min-width: 1199px) {
          .services-container .service .img-box .long-img {
            max-height: 406px; } }
    @media screen and (min-width: 991px) {
      .services-container .service .img-box-align {
        width: 50%;
        display: inline-block;
        float: left;
        padding: 15px 15px 0px 15px; }
        .services-container .service .img-box-align p {
          padding: 15px 0px 0px 0px; } }
    .services-container .service .text-box {
      height: 100%;
      padding: 0px;
      padding-right: 15px; }
    .services-container .service .col-left {
      padding-right: 25px; }
    .services-container .service .col-right {
      padding-left: 25px; }
    .services-container .service .quote-box {
      background: #087ca7;
      padding: 30px;
      color: white;
      font-weight: 900; }
      .services-container .service .quote-box img {
        width: 100%;
        margin-bottom: 30px; }

/*# sourceMappingURL=main.css.map */
